html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container {
    max-width: 1140px;
}
.ul-container {
  margin-right: 50px;
    margin-top: 50px;
}
li{
    list-style: none;
}
div {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4C5866;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: #4C5866;
}
p{
    color: #85859B;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}
#hero{
    padding-top: 60px;
}
#result{
    background-color: #EBEBEB;
}
.result_content {
    padding-top: 60px;
}
#products{
    padding: 60px 0;
}
.products a{
    color: #7875FE;
    font-size: 20px;
    text-decoration: none;
}
#partners{
    padding: 90px 0;
    background: #ebebeb;
}
.sketchbook{
    padding-top: 90px;
}
.footer_top{
    padding: 27px 0;
    background: #4c5866;
}
.list-social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown-menu{
    --bs-dropdown-min-width: 3rem!important;
}